Repository parthalon025/terminalai: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-sync, check-forbidden-patterns

check-version-sync:
  name: Verify version consistency
  entry: python
  args:
  - -c
  ...

check-forbidden-patterns:
  name: Check for forbidden code patterns
  entry: python
  args:
  - -c
  ...

feat: Add comprehensive installer with dependency checking
  README.md
  RELEASE_v1.4.4.md
  install.py
  requirements.txt
Due: check-forbidden-patterns

feat: Update install.sh to install all modules and tools
  install.sh
Due: none

docs: Add models directory README (force add)
  models/README.md
Due: none

feat: Add one-shot installer for complete automated setup
  one_shot_install.sh
Due: none

docs: Add one-shot install to README as primary method
  README.md
Due: none

Update test_api_usage.py
  tests/test_api_usage.py
Due: none

Update test_audio_processor_audiosr.py
  tests/test_audio_processor_audiosr.py
Due: none

chore: Clean up repository structure for production
  .gitignore
  AUDIOSR_VERIFICATION.txt
  IMPLEMENTATION_COMPLETE.md
  IMPLEMENTATION_STATUS.md
  add_audiosr.py
  docs/AUDIOSR_INTEGRATION_SUMMARY.md
  docs/AUDIOSR_QUICKSTART.md
  docs/CODEFORMER_INTEGRATION.md
  docs/RELEASE_V1.5.0_SUMMARY.md
  docs/RELEASE_v1.4.4.md
  install.py
  tests/test_audio_processor_audiosr.py
  validate_codeformer.py
Due: check-forbidden-patterns

feat(v1.5.1): Add NVIDIA RTX Video SDK integration
  CLAUDE.md
  pyproject.toml
  tests/test_rtx_video_sdk.py
  vhs_upscaler/gui.py
  vhs_upscaler/rtx_video_sdk/__init__.py
  vhs_upscaler/rtx_video_sdk/models.py
  vhs_upscaler/rtx_video_sdk/sdk_wrapper.py
  vhs_upscaler/rtx_video_sdk/utils.py
  vhs_upscaler/rtx_video_sdk/video_processor.py
  vhs_upscaler/vhs_upscale.py
Due: check-version-sync, check-forbidden-patterns

feat: Add RTX Video SDK setup wizard and installation guide
  pyproject.toml
  scripts/setup_rtx_video.py
  vhs_upscaler/gui.py
  vhs_upscaler/setup_rtx.py
Due: check-version-sync, check-forbidden-patterns

docs: Complete RTX Video SDK documentation and CLI integration
  CHANGELOG.md
  README.md
  docs/DEPLOYMENT.md
  docs/FEATURE_COMPARISON.md
  docs/INDEX.md
  docs/RTX_VIDEO_SDK.md
  requirements.txt
  vhs_upscaler/cli/common.py
Due: check-forbidden-patterns

docs: Polish README with SEO keywords and RTX Video SDK prominence
  README.md
Due: none

docs: Update CLAUDE.md with installation verification and Windows setup
  CLAUDE.md
Due: none

feat: Add Real-ESRGAN dependency management and meta orchestrator documentation
  CLAUDE.md
  install.py
  pyproject.toml
  requirements.txt
Due: check-version-sync, check-forbidden-patterns

docs: Add RTX Video SDK installation guide and fix setup wizard
  INSTALL_RTX_VIDEO_SDK.md
  scripts/setup_rtx_video.py
Due: check-forbidden-patterns

feat: Enhanced RTX Video SDK setup wizard with automatic installation
  scripts/setup_rtx_video.py
Due: check-forbidden-patterns

feat: Prioritize background agent execution and improve dependency warnings
  CLAUDE.md
  vhs_upscaler/gui.py
Due: check-forbidden-patterns

chore: Add installation and performance test files, update .gitignore
  .gitignore
  tests/test_installation_verification.py
  tests/test_performance_validation.py
Due: none

security: Fix 4 critical vulnerabilities (v1.5.2)
  SECURITY_FIXES.md
  SECURITY_PATCH_SUMMARY.md
  scripts/setup_rtx_video.py
  tests/test_security_fixes.py
  vhs_upscaler/face_restoration.py
  vhs_upscaler/notifications.py
  vhs_upscaler/vhs_upscale.py
Due: check-forbidden-patterns

test: Add comprehensive test validation and coverage analysis
  TEST_COVERAGE_REPORT.md
  TEST_VALIDATION_SUMMARY.md
  tests/test_face_restoration.py
  tests/test_installation_verification.py
  tests/test_notifications.py
Due: none

docs: Add GUI optimization verification and integration report
  GUI_INTEGRATION_REPORT.md
  test_gui_integration.py
Due: check-forbidden-patterns

fix: Improve hardware detection to work before PyTorch installation
  scripts/installation/install.py
  vhs_upscaler/hardware_detection.py
Due: check-forbidden-patterns

fix: Use CUDA 12.8 (cu128) for RTX 50 series support
  scripts/installation/install.py
Due: check-forbidden-patterns

fix: Add RTX Video SDK parameters to QueueJob
  vhs_upscaler/queue_manager.py
Due: check-forbidden-patterns

fix: Critical bug fixes and documentation polish via agent orchestration
  CLAUDE.md
  HARDWARE_DETECTION_REPORT.json
  IMPLEMENTATION_SUMMARY.md
  INTEGRATION_CHECKLIST.md
  INTEGRATION_TEST_SUMMARY.txt
  PERFORMANCE_BENCHMARKS.md
  PERFORMANCE_COMPLETION_REPORT.txt
  SSDAI_Toolsterminalaidiagnostic.json
  TEST_SUMMARY_VISUAL.md
  apply_basic_mode_patch.py
  coverage.json
  demo_wizard.py
  diagnostic.json
  installation_test_report.json
  performance_analysis_baseline.json
  performance_analysis_baseline.txt
  performance_profile_gui.json
  performance_profile_gui.txt
  scripts/installation/verify_installation.py
  test_basic_advanced_mode.py
  test_gpu_scenarios.py
  test_hardware_detection.py
  tests/test_installation_verification.py
Due: check-forbidden-patterns

Path conditions:
  check-version-sync: any of: ^(pyproject.toml|vhs_upscaler/__init__.py)$
  check-forbidden-patterns: any of: \.py$, but not: ^tests/
